
<section class="socios-section">
    <h2 class="socios-title">Nuestros Clientes</h2>
    <div class="socios-grid">
        <a href="https://www.microsoft.com" target="_blank">
        <img src="{{ url_for('static', filename='img/microsoft.png') }}" alt="Microsoft">
        </a>
        <a href="https://www.cisco.com" target="_blank">
        <img src="{{ url_for('static', filename='img/cisco.png') }}" alt="Cisco">
        </a>
        <a href="https://www.google.com" target="_blank">
        <img src="{{ url_for('static', filename='img/google.png') }}" alt="Google">
        </a>
        <a href="https://www.ibm.com" target="_blank">
        <img src="{{ url_for('static', filename='img/ibm.png') }}" alt="IBM">
        </a>
    </div>
</section>

<link rel="stylesheet" href="{{ url_for('static', filename='css/socios.css') }}">