<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PARNET</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
<body>

<header>
    <div class="header-wrapper">
        <a href="{{ url_for('index') }}" class="logo-link">
            <img src="/static/img/logo.png" alt="Logotipo" class="logo-img" />
        </a>
    <div class="menu-icon" onclick="toggleMenu()">☰</div>
    </div>
</header>

<!-- Marquesina dentro del header -->
<div class="marquee-container">
    <div class="marquee">
    Bienvenido a <strong>PARNET Ingeniería S.A. de C.V.</strong> Continuamente actualizamos el Sitio.
    Revisa nuestros estándares de calidad <span class="destacado">ISO 9000</span>
    </div>
</div>

<!-- Debajo de la marquesina -->
<nav class="nav-tabs">
    <a href="{{ url_for('index') }}" class="tab-link">Página Principal</a>
    <a href="#" class="tab-link">¿Quiénes Somos?</a>
    <a href="#" class="tab-link">Clientes</a>
    <a href="{{ url_for('servicios') }}" class="tab-link">Servicios</a>
    <a href="{{ url_for('productos') }}" class="tab-link">Productos</a>
    <a href="#" class="tab-link">Casos De Éxito</a>
    <a href="{{ url_for('contacto') }}" class="tab-link">Contactos</a>
    <a href="#" class="tab-link">Socios</a>
</nav>



<div class="content-wrapper">

    <!-- Menú lateral izquierdo (sidebar) -->
    <nav class="sidebar" id="sidebar">

        <!-- Bloque de Noticias arriba -->
        <div class="noticias-box">
            <div class="noticias-header">
                <img src="{{ url_for('static', filename='img/mundo.png') }}" alt="Icono Noticias" class="noticias-icon">
                <span class="noticias-title">Noticias</span>
            </div>

            {% for noticia in noticias %}
            <div class="noticia-item">
                <p><strong>{{ noticia.titulo }}</strong><br>
                {{ noticia.nota[:60] }}... <a href="#">[Leer más]</a></p>
            </div>
            {% endfor %}
        </div>

        <div class="noticias-boton">
                <a href="#" class="panel-button">Control Panel PARNET</a>
        </div>
        <!-- Botones debajo de las noticias -->
        <a href="#" class="menu-button">Certificaciones</a>
        <a href="#" class="menu-button">Telecomunicaciones</a>
        <a href="#" class="menu-button">Redes Eléctricas</a>
        <a href="#" class="menu-button">Circuito Cerrado de TV</a>
    </nav>

    <!-- Contenido principal -->
    <main class="main-content">
        <h2>Contenido Principal</h2>
        <p>Este contenido se adapta según el tamaño de pantalla.</p>
    </main>

</div>


<footer>
    &copy; 2025 Mi Sitio Web
</footer>

<script>
    function toggleMenu() {
        const sidebar = document.getElementById("sidebar");
        sidebar.classList.toggle("active");
    }
</script>

</body>
</html>
